body {
    background: url('college.jpg') no-repeat center center fixed; 
    background-size: cover;
}
.menu-container {
    background-color: #D6001C;
    background-color: rgba(214, 0, 28, 0.8); 
    padding: 40px; 
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 440px; 
    height: 484px; 
    position: fixed;
    opacity: 0.7;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    font-family: 'Libre Baskerville';
}

.menu-container h2 {
    margin-bottom: 25px;
    color: #ffffff;
    opacity: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center; 
}

.menu-button {
    opacity: 1;
    display: inline-block;
    text-decoration: none;
    color: #000000;
    font-family: 'Libre Baskerville';
    font-weight: 700;
    background-color: #ffffff; 
    padding: 15px 30px;
    border-radius: 5px;
    width: 100%;
    max-width: 300px; 
    text-align: center;    
}

.menu-button:hover {
    background-color: #ab8256;
}
   
  
